// Hero declarations

#hero {
  width: 100vw
  height: 100vh
  min-width: 1024px
  background-color: background-color
}

#hero-image-wrapper {
  display: table
  position: relative
  padding-top: 60px
  margin: 0 auto
}

#hero-image {
  background: url(hero-image)
  background-size: contain
  background-repeat: no-repeat
  width: 372px
  height: 560px
  display: table-cell
}

#hero-description {
  position: absolute
  top: 55%
  transform: translateY(-50%);
  min-width: 200px
  margin-left: 30px
  display: table-cell
}

#hero-description p {
  font: 16px Inconsolata
  color: text-color
  margin-bottom: 22px
}

#disclosure-text {
  position: absolute
  font: 14px Inconsolata
  bottom: 42.5px
  left: 80px
}
