@import fonts
@import variables
@import glitches
@import footer

@import 'manifesto/hero'
@import 'manifesto/header'
@import 'manifesto/manifesto'

*, html {
  margin: 0
  padding: 0
}

body {
  background-color: background-color
  overflow-x: hidden
  margin: 0 auto
}

a {
  text-decoration: none
  color: text-color
}

p {
  letter-spacing: 0px
  line-height: 28px
  margin-bottom: 7px
  color: text-color
}

#page-title {
  position: absolute
  width: 1px
  height: 1px
  top: 0%
  left: 0%
  clip: rect(0px, 1px, 1px, 0px)
}
