// Colors

background-color = #252928
text-color = #FFFFFF

// Opacity

disabled-text-opacity = 0.2

// Image paths

hero-image = '../images/hero/header.jpg'
s-logo = '../images/sections/s-logo.svg'
m-logo = '../images/sections/m-logo.svg'
