// Colors

background-color = #252928
text-color = #FFFFFF

// Opacity

disabled-text-opacity = 0.2

// Image paths

hero-image = '../images/hero/header.jpg'

// Sizes

hero-image-width = 490px
hero-image-height = 90%
hero-image-max-height = 640px
