// Top navigation manifesto header

#manifesto {

  header {
    position: fixed
    width: 100%
    height: 60px
    min-width: minimum-width
    max-width: maximum-width
    top: 0
    left: 0
    margin: 0 auto
    z-index: 1
    background-color: header-background-color
    -webkit-backdrop-filter: blur(0px)
  }

  .email-link-wrapper {
    position: absolute
    margin-top: 32.5px
    transform: translateY(-50%)
    right: 105px
  }

  #email-link {
    font: 15px Inconsolata
  }
}
