// Hero manifesto declarations

#manifesto {

  minimum-height = 600px
  minimum-image-height = minimum-height * 0.8
  image-height = 80vh

  #hero {
    width: 100vw
    height: 100vh
    min-height: minimum-height
    min-width: minimum-width
    background-color: background-color
    position: relative
  }

  #hero-image-wrapper {
    position: relative
    padding-top: 60px
    margin: 0 auto
    width: 100vw
    height: image-height
    min-height: minimum-image-height
  }

  #hero-image {
    position: absolute
    left: 50%
    transform: translateX(-50%)
    background-position: center

    img {
      height: image-height
      min-height: minimum-image-height
      transition: initial-transform-transition, initial-opacity-transition
    }
  }

  #hero-description {
    position: absolute
    top: 55%
    transform: translateY(-50%)
    min-width: 200px
    margin-left: 30px
  }

  #hero-description p {
    font: 16px Inconsolata
    color: text-color
    margin-bottom: 22px
    transition: transform 0.55s ease, initial-opacity-transition
  }

  .disclosure-text {
    position: absolute
    font: 14px Inconsolata
    bottom: 42.5px
    left: 80px
  }
}
