// Scrolling styles

#myself {

  .selected-work-scroll {
    bottom: 105px !important
  }

  .selected-wrapper-scroll {
    clip: rect(auto, auto, auto, 100px) !important
  }

  .back-top-scroll {
    opacity: 1 !important
    left: 77px !important
    cursor: pointer !important
  }

  .text-up {
    top: -100px
  }

  .text-down {
    top: 100px
  }
}
