.general-noise,
.bottom-noise {
  position: fixed;
  width: 100%;
  height: 20vh;
  top: 0;
  bottom: auto;
  background-color: dark-background-color;
  mix-blend-mode: normal;
  background-blend-mode: overlay;
  background-image: url("../images/general/noise.png");
  background-repeat: repeat;
  transform: translate3d(0, 0, 0);
  z-index: -1;
}
.bottom-noise {
  top: auto;
  bottom: 0;
}
