footer {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: dark-background-color;
  overflow: hidden;
}
footer .inner {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
footer .inner .email {
  font: 20px Gilroy;
  font-weight: 700;
  color: white-color;
  letter-spacing: -0.4px;
}
footer .inner .email span {
  font: 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica;
  font-weight: 900;
}
footer .inner .path {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 23px;
  margin-bottom: 25px;
  opacity: 0.15;
}
footer .inner .social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
footer .inner .social .social-icon {
  height: 22px;
  margin-left: 25px;
  margin-right: 25px;
}
