footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: dark-background-color;
  z-index: 1;
}
footer .back,
footer .forward {
  mix-blend-mode: soft-light;
  position: absolute;
  display: inline-block;
}
footer .back a,
footer .forward a {
  display: inline-block;
  font: 17px Gilroy;
  font-weight: 400;
  color: white-color;
  letter-spacing: -0.3px;
}
footer .back {
  left: 20px;
  bottom: 15px;
}
footer .back a {
  margin-left: 37px;
}
footer .forward {
  bottom: footer-size -36px;
  right: 58px;
}
footer .back:before,
footer .forward:after {
  content: '';
  display: inline-block;
  background-color: white-color;
  position: absolute;
  height: 2px;
  width: 30px;
  top: 57%;
  transform: translateY(-50%);
}
footer .back:before {
  margin-right: 8px;
}
footer .forward:after {
  margin-left: 8px;
}
footer .circle {
  width: 400px;
  height: 400px;
}
footer .inner {
  position: absolute;
  bottom: 250px;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}
footer .inner .email {
  font: 20px Gilroy;
  font-weight: 700;
  color: white-color;
  letter-spacing: -0.4px;
}
footer .inner .email span {
  font: 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica;
  font-weight: 900;
}
footer .inner .path {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 23px;
  margin-bottom: 18px;
  opacity: 0.15;
}
footer .inner .social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}
footer .inner .social .social-icon {
  max-height: 36px;
  object-fit: cover;
  margin-left: 25px;
  margin-right: 25px;
}
@media (max-width: minimum-width) {
  footer {
    overflow: hidden;
  }
  footer .inner {
    bottom: 150px;
  }
  footer .back,
  footer .forward {
    position: absolute;
    display: inline-block;
  }
  footer .back {
    transform-origin: bottom right;
    transform: translateX(-100%) rotateZ(90deg);
    bottom: 15px;
    left: 10px;
  }
  footer .forward {
    transform-origin: top left;
    transform: translateX(100%) rotateZ(90deg);
    right: 10px;
    bottom: mobile-footer-size -36px;
  }
  footer .inner .social .social-icon {
    margin-left: 15px;
    margin-right: 15px;
  }
}
