@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@font-face {
  font-family: "Brandon";
  src: url("../fonts/Brandon.eot");
  src: url("../fonts/Brandon.eot?#iefix") format("embedded-opentype"), url("../fonts/Brandon.woff") format("woff"), url("../fonts/Brandon.ttf") format("truetype");
  font-style: bold;
}
.corner-glitch {
  position: absolute;
  width: 50px;
  height: 30px;
}
.corner-glitch:before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 80%;
  height: 1px;
  top: 0%;
  left: 0%;
}
.corner-glitch:after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 90%;
  right: 0%;
  bottom: 0%;
}
.top-corner-glitch {
  top: 37.5px;
  right: 27px;
}
.bottom-corner-glitch {
  left: 27px;
  bottom: 30px;
  transform: rotate(180deg);
}
.disclosure {
  position: absolute;
  opacity: 0.2;
  width: 90px;
}
.disclosure p {
  font: 14px Inconsolata;
  color: #fff;
}
.disclosure:after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 85%;
  height: 1px;
  bottom: 0%;
  right: 0%;
}
.disclosure-top {
  top: 17.5px;
  right: 325px;
}
.disclosure-disclaimer {
  left: 27px;
  bottom: 80px;
  width: 105px;
}
.horizontal-glitch {
  position: absolute;
  width: 35px;
  height: 100px;
}
.horizontal-glitch:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 25%;
  right: 0%;
  top: 0%;
  background-color: #fff;
  opacity: 0.2;
}
.horizontal-glitch:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 50%;
  right: 0%;
  top: 50%;
  background-color: #fff;
  opacity: 0.2;
}
.horizontal-glitch div {
  content: '';
  position: absolute;
  height: 1px;
  top: 40%;
  right: 0%;
  left: 0%;
  background-color: #fff;
  opacity: 0.2;
}
.story-horizontal-glitch {
  top: 220px;
  right: 100px;
}
#dot-separator {
  position: absolute;
  width: 96.48vw;
  height: 11px;
  bottom: 20px;
  left: 27px;
  min-width: 900px;
  opacity: 0.2;
}
#dot-separator div {
  float: left;
  width: 1px;
  height: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #fff;
}
#footer {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 900px;
}
#footer .wrapper {
  position: absolute;
  top: 45%;
  transform: translate3d(0, -50%, 0);
  display: block;
  margin: auto;
  width: 100%;
  transition: transform 1s ease, opacity 1s ease;
}
#footer .wrapper h2 {
  font: 30px Brandon;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
#footer .cross {
  width: 40px;
  height: 40px;
  transform: rotateZ(45deg);
  margin: 10px auto 0 auto;
}
#footer .cross:before {
  content: '';
  position: absolute;
  height: 1px;
  top: 50%;
  right: 0%;
  left: 0%;
  background-color: #fff;
}
#footer .cross:after {
  content: '';
  position: absolute;
  width: 1px;
  top: 0%;
  bottom: 0%;
  left: 50%;
  background-color: #fff;
}
#footer #social {
  position: absolute;
  display: table;
  margin-top: 26px;
  min-width: 600px;
  left: 50%;
  transform: translateX(-50%);
}
#footer #social div {
  display: table-cell;
}
#footer #social div a {
  font: 15px Inconsolata;
  margin-right: 25px;
  margin-left: 25px;
  position: relative;
}
#footer #social div figure {
  position: absolute;
  width: 17px;
  height: 17px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1px;
}
#footer #social #dribbble figure {
  background-image: url("../images/icons/dribbble-icon.svg");
}
#footer #social #github figure {
  background-image: url("../images/icons/github-icon.svg");
}
#footer #social #twitter figure {
  background-image: url("../images/icons/twitter-icon.svg");
}
#footer #social #resume figure {
  background-image: url("../images/icons/monogram-icon.svg");
}
#manifesto .loading-hero-image {
  transform: translateX(150px);
  opacity: 0;
}
#manifesto .loading-hero-line {
  transform: translateX(50px);
  opacity: 0;
}
#manifesto .loading-header {
  opacity: 0;
}
#manifesto .scroll-appearance {
  transform: translateY(100%);
  opacity: 0;
}
#manifesto header,
#myself header {
  position: fixed;
  width: 100%;
  height: 60px;
  min-width: 900px;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
  background-color: rgba(37,41,40,0);
  -webkit-backdrop-filter: blur(0px);
  transition: opacity 0.85s ease;
}
#manifesto .email-link-wrapper,
#myself .email-link-wrapper {
  position: absolute;
  margin-top: 32.5px;
  transform: translateY(-50%);
  right: 105px;
}
#manifesto #email-link,
#myself #email-link {
  font: 15px Inconsolata;
}
#manifesto #header-glitches,
#myself #header-glitches {
  transition: opacity 0.85s ease;
}
#myself {
  overflow: hidden;
}
#myself #sections {
  width: 100vw;
  height: 100vh;
  -webkit-backface-visibility: hidden;
  transform: matrix3d();
  transition: transform 0.7s ease;
}
#myself #manifesto figure {
  background-image: url("../images/sections/myself.jpg");
}
#myself #lights figure {
  background-image: url("../images/sections/lights.jpg");
}
#myself #varner figure {
  background-image: url("../images/sections/varner.jpg");
}
#myself #branding figure {
  background-image: url("../images/sections/branding.jpg");
}
#myself #indicator {
  position: absolute;
  width: 1px;
  height: 50px;
  top: 100px;
  right: 32px;
  transform: matrix3d();
}
#myself #indicator:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 0;
}
#myself section {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#myself section figure {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
#myself section div {
  position: absolute;
  top: 50%;
  left: 75px;
  transform: translateY(-50%);
}
#myself section h2 {
  font: 55px Brandon;
  text-transform: uppercase;
  color: #fff;
}
#myself section p {
  font: 16px Inconsolata;
  max-width: 650px;
  line-height: 26px;
}
#myself section button {
  position: relative;
  font: 15px Inconsolata;
  color: #fff;
  margin-top: 15px;
  padding-bottom: 5px;
  padding-right: 50px;
}
#myself section button:after {
  content: '';
  position: absolute;
  width: 70%;
  height: 0.5px;
  right: 0%;
  bottom: 0%;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  transform: matrix3d();
  transition: width 0.6s ease;
}
#myself section button:hover:after {
  width: 100%;
}
#myself nav {
  position: fixed;
  top: 44%;
  right: 0%;
  transform: rotate(90deg) translateY(-50%);
  z-index: 1;
}
#myself nav div {
  transform: rotate(180deg);
  display: inline-block;
  margin: 0 auto;
}
#myself nav button {
  position: relative;
  font: 15px Inconsolata;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
}
#myself nav a:hover:after {
  right: 100%;
}
#myself nav .disclosure-projects {
  top: 1px;
  left: 330px;
}
#myself #triangle {
  position: absolute;
  background-image: url("../images/icons/triangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 0%;
  right: 11px;
  width: 7px;
  height: 11px;
  transform: matrix3d();
}
#myself::-webkit-scrollbar {
  width: 0;
}
#manifesto #hero {
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  min-width: 900px;
  background-color: #191b1a;
  position: relative;
}
#manifesto #hero-image-wrapper {
  position: relative;
  padding-top: 60px;
  margin: 0 auto;
  width: 100vw;
  height: 80vh;
  min-height: 480px;
}
#manifesto #hero-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-position: center;
}
#manifesto #hero-image img {
  height: 80vh;
  min-height: 480px;
  transition: transform 0.85s ease-in-out, opacity 0.85s ease;
}
#manifesto #hero-description {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  min-width: 200px;
  margin-left: 30px;
}
#manifesto #hero-description p {
  font: 16px Inconsolata;
  color: #fff;
  margin-bottom: 22px;
  transition: transform 0.55s ease, opacity 0.85s ease;
}
#manifesto .disclosure-text {
  position: absolute;
  font: 14px Inconsolata;
  bottom: 42.5px;
  left: 80px;
}
#manifesto p {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
#manifesto .story {
  position: relative;
  width: 100vw;
  height: 70vh;
  min-width: 900px;
  min-height: 420px;
}
#manifesto .story .description {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(0, -50%, 0);
  transition: transform 1s ease, opacity 1s ease;
}
#manifesto .story .description figure {
  position: absolute;
  background-image: url("../images/manifesto/s-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;
  left: 250px;
  opacity: 0.025;
}
#manifesto .manifesto {
  position: relative;
  width: 100vw;
  height: 70vh;
  min-width: 900px;
  min-height: 420px;
}
#manifesto .manifesto .description {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translate(0, -50%, 0);
  transition: transform 1s ease, opacity 1s ease;
}
#manifesto .manifesto .description h2 {
  text-align: right;
}
#manifesto .manifesto .description p {
  text-align: right;
}
#manifesto .manifesto .description figure {
  position: absolute;
  background-image: url("../images/manifesto/m-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 165px;
  height: 150px;
  right: 270px;
  opacity: 0.025;
}
#manifesto .manifesto .manifesto-horizontal-glitch {
  position: absolute;
  transform: rotateY(180deg);
  top: 150px;
  left: 100px;
}
#manifesto .awards {
  position: relative;
  width: 100vw;
  height: 70vh;
  min-width: 900px;
  min-height: 420px;
}
#manifesto .awards .description {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(0, -50%, 0);
  transition: transform 1s ease, opacity 1s ease;
}
#manifesto .awards .description figure {
  position: absolute;
  background-image: url("../images/manifesto/a-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 125px;
  height: 135px;
  left: 270px;
  opacity: 0.025;
}
#manifesto .awards .awards-horizontal-glitch {
  position: absolute;
  top: 375px;
  right: 100px;
  width: 20px;
  height: 70px;
}
#manifesto .section-description h2 {
  font: 34px Brandon;
  color: #fff;
  text-transform: uppercase;
}
#manifesto .section-description p {
  font: 16px Inconsolata;
  line-height: 26px;
  width: 650px;
  margin-top: 10px;
}
*,
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #191b1a;
  overflow-x: hidden;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  text-decoration: none;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
button,
h1,
h2,
p,
a {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
a:after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #fff;
  top: 55%;
  left: 0%;
  right: 100%;
  transition: right 0.25s ease-out;
}
a:hover:after {
  right: 0%;
}
p {
  letter-spacing: 0px;
  line-height: 28px;
  margin-bottom: 7px;
  color: #fff;
}
#page-title {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0%;
  left: 0%;
  clip: rect(0px, 1px, 1px, 0px);
}
