@font-face {
  font-family: 'Gilroy';
  src: url("gilroy-regular-webfont.woff2") format('woff2'), url("gilroy-regular-webfont.woff") format('woff');
  font-weight: 100;
  font-style: regular;
}
@font-face {
  font-family: 'Gilroy';
  src: url("gilroy-semibold-webfont.woff2") format('woff2'), url("gilroy-semibold-webfont.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url("gilroy-bold-webfont.woff2") format('woff2'), url("gilroy-bold-webfont.woff") format('woff');
  font-weight: 700;
  font-style: bold;
}
.indicator {
  position: absolute;
}
.indicator a {
  font: 15px Gilroy;
  font-weight: 700;
  color: #fff;
}
.indicator:after {
  content: '';
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 8px;
}
#myself header {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 800px;
  background-color: #161216;
}
#myself header .indicator {
  transform: rotateZ(90deg);
  right: 15px;
  bottom: 67.5px;
}
#myself header h2 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #292329;
  opacity: 0.7;
  font: 28px Gilroy;
  font-weight: 700;
  letter-spacing: -0.75px;
}
#myself header .designer {
  position: absolute;
  top: 52%;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  mix-blend-mode: soft-light;
}
#myself header .myself {
  position: absolute;
  height: 95%;
  min-height: 750px;
  bottom: 0;
  left: 48.5%;
  transform: translateX(-50%);
}
#myself header .noise {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/general/noise.png");
  background-repeat: repeat;
  mix-blend-mode: overlay;
}
*,
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
}
html,
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
a {
  text-decoration: none;
  color: #342a34;
}
button {
  text-decoration: none;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
button,
h1,
h2,
h3,
p,
a {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
.page-title {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  clip: rect(0, 1px, 1px, 0);
}
