@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@font-face {
  font-family: "Brandon";
  src: url("../fonts/Brandon.eot");
  src: url("../fonts/Brandon.eot?#iefix") format("embedded-opentype"), url("../fonts/Brandon.woff") format("woff"), url("../fonts/Brandon.ttf") format("truetype");
  font-style: bold;
}
.corner-glitch {
  position: absolute;
  width: 50px;
  height: 30px;
}
.corner-glitch:before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 80%;
  height: 1px;
  top: 0%;
  left: 0%;
}
.corner-glitch:after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 90%;
  right: 0%;
  bottom: 0%;
}
.top-corner-glitch {
  top: 37.5px;
  right: 27px;
}
.bottom-corner-glitch {
  left: 27px;
  bottom: 30px;
  transform: rotate(180deg);
}
.disclosure {
  position: absolute;
  opacity: 0.2;
  width: 90px;
}
.disclosure p {
  font: 14px Inconsolata;
  color: #fff;
}
.disclosure:after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 85%;
  height: 1px;
  bottom: 0%;
  right: 0%;
}
.disclosure-top {
  top: 17.5px;
  right: 325px;
}
.disclosure-disclaimer {
  left: 27px;
  bottom: 80px;
  width: 105px;
}
.horizontal-glitch {
  position: absolute;
  width: 35px;
  height: 100px;
}
.horizontal-glitch:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 25%;
  right: 0%;
  top: 0%;
  background-color: #fff;
  opacity: 0.2;
}
.horizontal-glitch:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 50%;
  right: 0%;
  top: 50%;
  background-color: #fff;
  opacity: 0.2;
}
.horizontal-glitch div {
  content: '';
  position: absolute;
  height: 1px;
  top: 40%;
  right: 0%;
  left: 0%;
  background-color: #fff;
  opacity: 0.2;
}
.story-horizontal-glitch {
  top: 220px;
  right: 100px;
}
#dot-separator {
  position: absolute;
  width: 96.48vw;
  height: 11px;
  bottom: 20px;
  left: 27px;
  min-width: 900px;
  max-width: 1400px;
  opacity: 0.2;
}
#dot-separator div {
  float: left;
  width: 1px;
  height: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #fff;
}
#footer {
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  position: relative;
}
#footer .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#footer .wrapper h2 {
  font: 30px Brandon;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
#footer .cross {
  width: 40px;
  height: 40px;
  transform: rotateZ(45deg);
  margin: 10px auto 0 auto;
}
#footer .cross:before {
  content: '';
  position: absolute;
  height: 1px;
  top: 50%;
  right: 0%;
  left: 0%;
  background-color: #fff;
}
#footer .cross:after {
  content: '';
  position: absolute;
  width: 1px;
  top: 0%;
  bottom: 0%;
  left: 50%;
  background-color: #fff;
}
#footer #social {
  display: table;
  margin-top: 26px;
  min-width: 600px;
}
#footer #social div {
  display: table-cell;
}
#footer #social div a {
  font: 15px Inconsolata;
  margin-right: 25px;
  margin-left: 25px;
  position: relative;
}
#footer #social div figure {
  position: absolute;
  width: 17px;
  height: 17px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1px;
}
#footer #social #dribbble figure {
  background-image: url("../images/icons/dribbble-icon.svg");
}
#footer #social #github figure {
  background-image: url("../images/icons/github-icon.svg");
}
#footer #social #twitter figure {
  background-image: url("../images/icons/twitter-icon.svg");
}
#footer #social #resume figure {
  background-image: url("../images/icons/monogram-icon.svg");
}
#manifesto .loading-hero-image {
  transform: translateX(150px);
  opacity: 0;
}
#manifesto .loading-hero-line {
  transform: translateX(50px);
  opacity: 0;
}
#manifesto .loading-header {
  opacity: 0;
}
#manifesto .scroll-appearance {
  padding-top: 150px;
  opacity: 0;
}
#manifesto #hero {
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  background-color: #252928;
}
#manifesto #hero-image-wrapper {
  display: table;
  position: relative;
  padding-top: 60px;
  margin: 0 auto;
}
#manifesto #hero-image {
  background: url("../images/hero/header.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 372px;
  height: 560px;
  display: table-cell;
  transition: transform 0.85s ease-in-out, opacity 0.85s ease;
}
#manifesto #hero-description {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  min-width: 200px;
  margin-left: 30px;
  display: table-cell;
}
#manifesto #hero-description p {
  font: 16px Inconsolata;
  color: #fff;
  margin-bottom: 22px;
  transition: transform 0.55s ease, opacity 0.85s ease;
}
#manifesto .disclosure-text {
  position: absolute;
  font: 14px Inconsolata;
  bottom: 42.5px;
  left: 80px;
}
#manifesto header {
  position: fixed;
  width: 100%;
  height: 60px;
  min-width: 900px;
  max-width: 1400px;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
  background-color: rgba(37,41,40,0);
  -webkit-backdrop-filter: blur(0px);
  transition: opacity 0.85s ease;
}
#manifesto .email-link-wrapper {
  position: absolute;
  margin-top: 32.5px;
  transform: translateY(-50%);
  right: 105px;
}
#manifesto #email-link {
  font: 15px Inconsolata;
}
#manifesto #header-glitches {
  transition: opacity 0.85s ease;
}
#manifesto .story {
  position: relative;
  width: 100vw;
  height: 70vh;
  min-width: 900px;
}
#manifesto .story .description {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  transition: padding 0.8s ease, opacity 0.8s ease;
}
#manifesto .story .description figure {
  position: absolute;
  background-image: url("../images/manifesto/s-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;
  left: 250px;
  opacity: 0.025;
}
#manifesto .manifesto {
  position: relative;
  width: 100vw;
  height: 70vh;
  min-width: 900px;
}
#manifesto .manifesto .description {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  transition: padding 0.8s ease, opacity 0.8s ease;
}
#manifesto .manifesto .description h2 {
  text-align: right;
}
#manifesto .manifesto .description p {
  text-align: right;
}
#manifesto .manifesto .description figure {
  position: absolute;
  background-image: url("../images/manifesto/m-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 165px;
  height: 150px;
  right: 270px;
  opacity: 0.025;
}
#manifesto .manifesto .manifesto-horizontal-glitch {
  position: absolute;
  transform: rotateY(180deg);
  top: 150px;
  left: 100px;
}
#manifesto .awards {
  position: relative;
  width: 100vw;
  height: 70vh;
  min-width: 900px;
}
#manifesto .awards .description {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  transition: padding 0.8s ease, opacity 0.8s ease;
}
#manifesto .awards .description figure {
  position: absolute;
  background-image: url("../images/manifesto/a-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 125px;
  height: 135px;
  left: 270px;
  opacity: 0.025;
}
#manifesto .awards .awards-horizontal-glitch {
  position: absolute;
  top: 375px;
  right: 100px;
  width: 20px;
  height: 70px;
}
#manifesto .section-description h2 {
  font: 34px Brandon;
  color: #fff;
  text-transform: uppercase;
}
#manifesto .section-description p {
  font: 16px Inconsolata;
  line-height: 26px;
  width: 650px;
  margin-top: 10px;
}
*,
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #252928;
  overflow-x: hidden;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
}
h1,
h2,
p,
a {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
a:after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #fff;
  top: 55%;
  left: 0%;
  right: 100%;
  transition: right 0.25s ease-out;
}
a:hover:after {
  right: 0;
}
p {
  letter-spacing: 0px;
  line-height: 28px;
  margin-bottom: 7px;
  color: #fff;
}
#page-title {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0%;
  left: 0%;
  clip: rect(0px, 1px, 1px, 0px);
}
