h1 {
  font-size: size-h1;
  font-family: 'Feijoa Display';
  line-height: 52px;
}
h2 {
  font-size: size-h2;
}
h3 {
  font-size: size-h3;
}
h4 {
  font-size: size-h4;
  line-height: 36px;
}
h5 {
  font-size: size-h5;
}
h6 {
  font-size: size-h6;
  line-height: 36px;
}
p {
  color: text-color;
  line-height: 32px;
  font-size: size-p;
}
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Apercu Regular Pro';
  font-variant-numeric: oldstyle-nums;
  font-variant-ligatures: common-ligatures;
}
button,
h1,
h2,
h3,
h4,
p,
a {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
  color: text-color;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: link-color;
}
h6 a,
p a {
  color: highlight-color;
}
.soon {
  font-size: size-l;
  color: soon-color;
}
.mono {
  font-size: size-s;
  font-family: "Apercu Mono Bold Pro";
  text-transform: uppercase;
  color: faded-title-color;
}
.link,
.running {
  position: relative;
  z-index: 2;
}
.link:after,
.running:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: background-running;
  width: 100%;
  transition: top 0.1s ease;
}
.running:after {
  background-color: background-running;
}
.link:hover:after,
.running:hover:after {
  top: 55%;
  transition: top 0.3s ease;
}
