// Colors

background-color = #252928
header-background-color = rgba(37, 41, 40, 0)
text-color = #FFFFFF

// Opacity

disabled-text-opacity = 0.2

// Sizes

minimum-width = 900px
maximum-width = 1400px

// Image paths

hero-image = '../images/hero/header.jpg'
dribbble-icon = '../images/icons/dribbble-icon.svg'
github-icon = '../images/icons/github-icon.svg'
twitter-icon = '../images/icons/twitter-icon.svg'
monogram-icon = '../images/icons/monogram-icon.svg'
