<a class='card {{ class }}' style='order: {{order}}' href='{{ link }}'>
	<div class='container'>
		<div class='imagery'>
			<img src='{{ image }}' />
		</div>
		<div class='bottom-description lighter'></div>
		<div class='description lighter'>
			<div class='wrapper'>
				<h4 class='dark'>{{ title }}</h4>
				<p class='dark'>{{ subtitle }}</p>
			</div>
			<div class='indicator'>
				{{# case }}
				<img class='arrow' src='images/projects/arrow.svg' />
				{{/ case }}
				{{^ case }}
				<p class='soon'>Soon</p>
				{{/ case }}
			</div>
		</div>
	</div>
</a>