    <h1 id='page-title'>Ramon Gilabert</h1>
    {{> header }}
    {{> loader }}
    <section class='hero'>
      <figure class='loading-header'></figure>
      <div class='hero-overlay'></div>
      <div class='hero-text-wrapper'>
        <h2 class='hero-title loading-title'>{{ title }}</h2>
        <div class='headers-wrapper'>
          {{# headers }}
          <p class='loading-headers'>{{{ title }}}</p>
          {{/ headers }}
        </div>
      </div>
      <div class='corner-glitch bottom-corner-glitch loading-header'></div>
    </section>
    <div class='body-wrapper'>
      <section class='project'>
        <div class='project-wrapper'>
          <h3>The project</h3>
          <div class='disclosure'></div>
          <p>{{ project }}</p>
          <div class='text-glitch'></div>
        </div>
      </section>

      <!-- INITIAL PROCESS -->

      <section class='project'>
        <div class='project-wrapper'>
          <h3>The project</h3>
          <div class='disclosure'></div>
          <p>{{ project }}</p>
          <div class='text-glitch'></div>
        </div>
      </section>

      <!-- PROCESS EXPLANATION -->

      <section class='project'>
        <div class='project-wrapper'>
          <h3>The project</h3>
          <div class='disclosure'></div>
          <p>{{ project }}</p>
          <div class='text-glitch'></div>
        </div>
      </section>

      <!-- PROCESS AGAIN -->

      <section class='project'>
        <div class='project-wrapper'>
          <h3>The project</h3>
          <div class='disclosure'></div>
          <p>{{ project }}</p>
          <div class='text-glitch'></div>
        </div>
      </section>

      <!-- ATTEMPT -->

      <section class='project'>
        <div class='project-wrapper'>
          <h3>The project</h3>
          <div class='disclosure'></div>
          <p>{{ project }}</p>
          <div class='text-glitch'></div>
        </div>
      </section>

      <!-- MORE IMAGES OF THE ATTEMPT -->

      <!-- DESIGN DETAILS -->

      <section class='project'>
        <div class='project-wrapper'>
          <h3>The project</h3>
          <div class='disclosure'></div>
          <p>{{ project }}</p>
          <div class='text-glitch'></div>
        </div>
      </section>

      <section class='images'>
        {{# images }}
        <div class='image-wrapper'><img src='{{ path }}'
          alt='{{ description }}' title='{{ title }}' /></div>
        {{/ images }}
      </section>
      {{# quote? }}
      <section class='quote'>
        <div class='glitch'><div></div></div>
        <div class='wrapper quoter'>
          <img src='./images/icons/quotes.svg' />
          <p>{{{ text }}}</p>
        </div>
      </section>
      {{/ quote? }}
    </div>
    {{> footer }}
