  <h1 id='page-title'>Ramon Gilabert</h1>
  {{> header }}
  <section class='hero'>
    <figure></figure>
    <div class='hero-overlay'></div>
    <div class='hero-text-wrapper'>
      <h2 class='hero-title'>{{ title }}</h2>
      <div class='headers-wrapper'>
        {{# headers }}
        <p>{{{ title }}}</p>
        {{/ headers }}
      </div>
    </div>
  </section>
  <div class='body-wrapper'>
    <section class='project'>
      <div class='project-wrapper'>
        <h3>The project</h3>
        <div class='disclosure'></div>
        <p>{{ project }}</p>
        <div class='text-glitch'></div>
      </div>
    </section>
    <section class='images'>
      {{# images }}
      <img src='{{ path }}' />
      {{/ images }}
    </section>
  </div>
  {{> footer }}
