      <section class='project'>
        <div class='project-wrapper'>
          <h3>{{ title }}</h3>
          <div class='disclosure'></div>
          <p>{{ text }}</p>
        </div>
      </section>
