{{# footer }}
<footer>
	<p class='mono selection'>Related Pieces</p>
	<div class='footer-cards'>
		{{# cards }}
		{{> card }}
		{{/ cards }}
	</div>
	<div class='bottom'>
		<a class='home' href='index.html'>
	    <img src='./images/navigation/owl.svg' />
	  </a>
	  <div class='links'>
	  	<a class='twitter link' href='https://twitter.com/RamonGilabert' target='_blank'>Twitter</a>
	  	<p>&nbsp;&nbsp;&middot;&nbsp;&nbsp;</p>
	  	<a class='dribbble link' href='https://dribbble.com/RamonGilabert' target='_blank'>Dribbble</a>
	  	<p>&nbsp;&nbsp;&middot;&nbsp;&nbsp;</p>
	  	<a class='linkedin link' href='https://www.linkedin.com/in/ramongilabert/' target='_blank'>LinkedIn</a>
	  </div>
	</div>
</footer>
{{/ footer }}
