    <footer id='footer' class='explanation loading-header'>
      <div class='wrapper scroll-appearance'>
        <h2>Let's work together</h2>
        <div class='cross'></div>
        <div id='social'>
          <div id='dribbble'>
            <figure></figure>
            <a href='https://dribbble.com/RamonGilabert' target='_blank'>/ramongilabert</a>
          </div>
          <div id='github'>
            <figure></figure>
            <a href='https://github.com/RamonGilabert' target='_blank'>/ramongilabert</a>
          </div>
          <div id='twitter'>
            <figure></figure>
            <a href='https://twitter.com/RamonGilabert' target='_blank'>/ramongilabert</a>
          </div>
          <div id='resume'>
            <figure></figure>
            <a href='./resources/Ramon Gilabert – Resumé.pdf' target='_blank'
            download='Ramon Gilabert – Resumé'>/resumé</a>
          </div>
        </div>
      </div>
      {{# next }}
      <a id='next-project' href='{{ link }}'>next project</a>
      {{/ next }}
    </footer>
