    <footer>
      <div class='noise'></div>
      <img class='circle' src='./images/general/circle.png'>
      {{# back }}
      <div class='back'><a href='{{ link }}'>{{ title }}</a></div>
      {{/ back }}
      {{# forward }}
      <div class='forward'><a href='{{ link }}'>{{ title }}</a></div>
      {{/ forward }}
      <div class='inner'>
        <div class='email'><p>ramon<span>@</span>gilabert.design</p></div>
        <img class='path' src='./images/general/path.svg'>
        <div class='social'>
          {{# social }}
          <a href='{{ link }}' target='_blank'><img class='social-icon' src='{{ image }}'></a>
          {{/ social }}
        </div>
      </div>
    </footer>
