    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="The missing Designer. The missing Developer. The missing ingredient.">
    <meta name="abstract" content="The missing Designer. The missing Developer. The missing ingredient.">
    <meta name="subject" content="Portfolio">
    <meta name="url" content="https://gilabert.design">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta property="og:title" content="Ramon Gilabert – The Portfolio" />
    <meta property="og:description" content="The missing Designer. The missing Developer. The missing ingredient." />
    <meta property="og:image" content="https://github.com/RamonGilabert/ramongilabert.github.io/blob/master/images/resources/header.jpg" />
    <meta property="og:url" content="https://gilabert.design" />

    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="icon" href="./images/resources/favicon.ico">

    <script type="text/javascript" src="js/horisont.js"></script>
    <script type="text/javascript" src="js/resizer.js"></script>
    <script type="text/javascript" src="js/appearance.js"></script>
    <script type="text/javascript" src="js/parallax.js"></script>
    <script type="text/javascript" src="js/loader.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
