    <header class='loading-header' id='header'>
      <div class='disclosure disclosure-top'><p>say hi</p></div>
      <div class='email-link-wrapper'>
        <a id='email-link' href='#'>ramon [at] gilabert.design</a>
      </div>
      <div class='corner-glitch top-corner-glitch'></div>
    </header>
