    <meta charset='utf-8'>

    <meta property='og:title' content='Ramon Gilabert &middot; The Portfolio' />
    <meta property='og:description' content='Product designer from Barcelona. Available for work.' />
    <meta property='og:url' content='http://gilabert.design' />
    <meta property='og:type' content='website' />
    <meta property='og:image' content='http://gilabert.design/images/general/gilabert.jpg' />

    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover'>
    <meta name='author' content='Ramon Gilabert'>
    <meta name='designer' content='Ramon Gilabert'>
    <meta name='description' content='Product designer from Barcelona. Available for work.'>
    <meta name='subject' content='Portfolio'>
    <meta name='url' content='http://gilabert.design'>
    <meta name='distribution' content='Global'>
    <meta name='rating' content='General'>
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:creator' content='@RamonGilabert' />

    <link rel='icon' href='./images/general/favicon.ico'>
    <link rel='stylesheet' type='text/css' href='./css/index.css' />
    {{> imports }}
