    <meta charset='utf-8'>

    <meta property='og:title' content='Ramon Gilabert – The Portfolio' />
    <meta property='og:description' content='Award Winning Designer and Developer. Your missing ingredient.' />
    <meta property='og:url' content='http://www.gilabert.design' />
    <meta property='og:image' content='http://gilabert.design/images/general/gilabert.jpg' />

    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no'>
    <meta name='author' content='Ramon Gilabert'>
    <meta name='designer' content='Ramon Gilabert'>
    <meta name='description' content='Award Winning Designer and Developer. Your missing ingredient.'>
    <meta name='subject' content='Portfolio'>
    <meta name='url' content='http://gilabert.design'>
    <meta name='distribution' content='Global'>
    <meta name='rating' content='General'>
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:creator' content='@RamonGilabert' />

    <link rel='icon' href='./images/general/favicon.ico'>
    <link rel='stylesheet' type='text/css' href='./css/index.css' />
    {{> imports }}
