{{# hero }}
		<div class='hero'>
			<div class='text'>
				<h1>{{ title }}</h1>
				<h6>{{{ text }}}</h6>
			</div>
			<div class='illustration'>
				<img src='./images/hero/illustration.svg' />
			</div>
		</div>
{{/ hero }}