  <noscript id="deferred-styles">
    <link rel='stylesheet' type='text/css' href='./css/index.css' />
  </noscript>

  <script type='text/javascript' src='js/horisont.js'></script>
  <script type='text/javascript' src='js/resizer.js'></script>
  <script type='text/javascript' src='js/appearance.js'></script>
  <script type='text/javascript' src='js/parallax.js'></script>
  <script type='text/javascript' src='js/loader.js'></script>
  <script type='text/javascript' src='js/main.js'></script>
