  <link rel='stylesheet' type='text/css' href='/css/index.css' />

  <script type='text/javascript' src='/js/horisont.js' defer="defer"></script>
  <script type='text/javascript' src='/js/resizer.js' defer="defer"></script>
  <script type='text/javascript' src='/js/appearance.js' defer="defer"></script>
  <script type='text/javascript' src='/js/parallax.js' defer="defer"></script>
  <script type='text/javascript' src='/js/loader.js' defer="defer"></script>
  <script type='text/javascript' src='/js/main.js' defer="defer"></script>
