<div class='introduction'>
	<div class='text'>
		<h1 class='dark'>{{ title }}</h1>
		<div class='paragraphs'>
			<div class='wrap'>
				<p class='first dark'>{{{ first }}}</p>
			</div>
			<div class='wrap'>
				<p class='second dark'>{{ second }}</p>
			</div>
		</div>
	</div>
</div>
