    <div id='loader'>
      <h3 class='percentage'></h3>
      <div class='bar'></div>
      <div class='link-wrapper'>
        <a class='email' href='#'>ramon [at] gilabert.design</a>
      </div>
    </div>
