{{# personal }}
		<div class='personal'>
			<div class='box light'>
      </div>
      <div class='social'>
				{{ # links }}
				<a href='{{ link }}'>{{{ title }}}</a>
				{{/ links }}
			</div>
      <div class='hobbies'>
      {{# hobbies }}
      	{{> hobby }}
      {{/ hobbies }}
      </div>
		</div>
{{/ personal }}