{{# projects }}
  <div class='projects'>
    <p class='mono selection'>{{ title }}</p>
      <div class='box light'></div>
      <div class='cards'>
      	{{# boxes }}
      	{{> card }}
        {{/ boxes }}
      </div>
	</div>
{{/ projects }}
