<div class='casing {{ class }}'>
	{{# box }}
	<div class='full-box'></div>
	{{/ box }}
	<div class='left'>
		<p class='mono'>{{ title }}</p>
	</div>
	<div class='pieces'>
		{{# paragraphs }}
		<p class='text'>{{{ text }}}</p>
		{{/ paragraphs }}
	</div>
</div>
