<!DOCTYPE html>
<html>
  <head>
mustache/partials/head.mustache    <title>Ramon Gilabert · Aparcat</title>
  </head>
  <body class='light' id='linjer'>
    <div class='page'>
mustache/partials/grid.mustachemustache/partials/transition.mustache      <div class='wrapper'>
        <h1 class='page-title'></h1>
mustache/partials/navigation.mustachemustache/partials/introduction.mustachemustache/partials/image.mustachemustache/partials/proposition.mustache        <div class='overview'></div>
mustache/partials/text.mustachemustache/partials/image.mustache        <div class='problem'></div>
mustache/partials/text.mustachemustache/partials/image.mustache        <div class='solution'></div>
mustache/partials/text.mustachemustache/partials/footer.mustache      </div>
    </div>
  </body>
</html>
