<!DOCTYPE html>
<html>
  <head>
mustache/partials/head.mustache    <title>Ramon Gilabert</title>
  </head>
  <body class='light' id='myself'>
    <div class='page'>
mustache/partials/grid.mustachemustache/partials/transition.mustache      <div class='wrapper'>
        <h1 class='page-title'>Ramon Gilabert &amp;middot; Product Designer</h1>
mustache/partials/navigation.mustachemustache/partials/hero.mustachemustache/partials/projects.mustachemustache/partials/personal.mustache      </div>
    </div>
  </body>
</html>
