// General styles of the details.

.detail {
  width: 100%

  .body-wrapper {
    overflow-x: hidden
    position: relative
    width: 100%
    height: auto
    background-color: blue
    max-width: maximum-width
    min-width: minimum-width
    left: 50%
    transform: translateX(-50%)

    img {
      width: 100%
    }
  }
}
