// General styles of the details.

.detail {
  width: 100%

  .body-wrapper {
    position: relative
    width: 100%
    max-width: maximum-width
    min-width: minimum-width
    left: 50%
    transform: translateX(-50%)
  }
}
