<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>Ramon Gilabert – Branding</title>
  </head>
  <body id='branding' class='detail'>
    {{# branding }}
    {{> detail }}
    {{/ branding }}
  </body>
</html>
