<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>Ramon Gilabert – Manifesto</title>
  </head>
  <body id='branding'>
    <h1 id='page-title'>Ramon Gilabert</h1>
    {{> footer }}
  </body>
</html>
