<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>Ramon Gilabert – Manifesto</title>
  </head>
  <body id='friends' class='detail'>
    <div class='body-wrapper'>
      <h1 id='page-title'>Ramon Gilabert</h1>

    </div>
    {{> footer }}
  </body>
</html>
