<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <script type="text/javascript" src="js/pagination.js"></script>
    <title>Gilabert</title>
  </head>
  <body id='myself'>
    <h1 id='page-title'>Ramon Gilabert</h1>
    {{> header }}
    <div id='sections'>
      {{# myself }}
      <section id="{{ kind }}">
        <figure></figure>
        <div class='wrapper'>
          <h2>{{ title }}</h2>
          <p><strong>{{ span }}</strong>{{ subtitle }}</p>
          <button id="{{ kind }}-button">read more</button>
        </div>
      </section>
      {{/ myself }}
    </div>
    <nav>
      {{# myself }}
      <div><button class='navigator' id='navigation-{{ kind }}'>{{ kind }}</button></div>
      {{/ myself }}
    </nav>
    <figure id='triangle'></figure>
    <div id='indicator'></div>
  </body>
</html>
