<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>Gilabert</title>
  </head>
  <body id='myself'>
    <h1 id='page-title'>Ramon Gilabert</h1>
    {{# myself }}
    <section id="{{ kind }}">
      <figure></figure>
      <div class='wrapper'>
        <h2>{{ title }}</h2>
        <p><strong>{{ span }}</strong>{{ subtitle }}</p>
        <button id="{{ kind }}-button">read more</button>
      </div>
    </section>
    {{/ myself }}
    <nav>
      <figure></figure>
      {{# myself }}
      <div><a id='navigation-{{ kind }}' href=''>{{ kind }}</a></div>
      {{/ myself }}
    </nav>
    <div id='indicator'></div>
  </body>
</html>
