<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>Ramon Gilabert</title>
    {{> imports }}
  </head>
  <body id='myself'>
    <header>
      <img class='designer' src='./images/myself/designer.svg'>
      <div class='noise'></div>
      <img class='myself' src='./images/myself/myself.png'>
    </header>
  </body>
</html>
