{{# lights }}
{{> begin }}
{{# server }}
{{> subtitle }}
{{/ server }}
{{# plugged }}
{{> subtitle }}
{{/ plugged }}
{{# industrial }}
{{> subtitle }}
{{/ industrial }}
{{# pairing }}
{{> subtitle }}
{{/ pairing }}
{{# editing }}
{{> subtitle }}
{{/ editing }}
{{# visually }}
{{> visually }}
{{/ visually }}
{{> end }}
{{/ lights }}
