<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>Ramon Gilabert – Lights</title>
  </head>
  <body id='lights' class='detail'>
    {{# lights }}
    {{> detail }}
    {{/ lights }}
  </body>
</html>
