<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>Ramon Gilabert – Manifesto</title>
  </head>
  <body id='manifesto'>
    <h1 id='page-title'>Ramon Gilabert</h1>
    {{> loader }}
    <section id='hero'>
      <div id='hero-image-wrapper'>
        <figure id='hero-image'>
          <img class='loading-hero-image'
          src='./images/hero/header.png'
          alt='Ramon Gilabert. The Manifesto'
          title='Manifesto'/>
        </figure>
        <div id='hero-description'>
          {{# description }}
          <p class='loading-hero-line description-line'><strong>{{ title }}</strong>. {{ name }}</p>
          {{/ description }}
        </div>
      </div>
      <div class='loading-header' id='header-glitches'>
        <div class='corner-glitch bottom-corner-glitch'></div>
        <div id='dot-separator'></div>
      </div>
    </section>
    {{> header }}
    {{# manifesto }}
    {{# text }}
    <section class="{{ kind }} explanation">
      <div class='section-description description scroll-appearance'>
        <figure></figure>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
      </div>
      <div class='horizontal-glitch {{ kind }}-horizontal-glitch'><div></div></div>
    </section>
    {{/ text }}
    {{> footer }}
    {{/ manifesto }}
  </body>
</html>
