<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>Manifesto – Gilabert</title>
  </head>
  <body id='manifesto'>
    <h1 id='page-title'>Ramon Gilabert</h1>
    <section id='hero'>
      <div id='hero-image-wrapper'>
        <figure id='hero-image'><img class='loading-hero-image' src='./images/hero/header.png' /></figure>
        <div id='hero-description'>
          {{# description }}
          <p class='loading-hero-line description-line'><strong>{{ title }}</strong>. {{ name }}</p>
          {{/ description }}
        </div>
      </div>
      <header class='loading-header' id='header'>
        <div class='disclosure disclosure-top'><p>say hi</p></div>
        <div class='email-link-wrapper'>
          <a id='email-link' href='#'>ramon [at] gilabert.design</a>
        </div>
        <div class='corner-glitch top-corner-glitch'></div>
      </header>
      <div class='loading-header' id='header-glitches'>
        <div class='corner-glitch bottom-corner-glitch'></div>
        <div id='dot-separator'></div>
      </div>
    </section>
    {{# manifesto }}
    <section class="{{ kind }}">
      <div class='section-description description scroll-appearance'>
        <figure></figure>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
      </div>
      <div class='horizontal-glitch {{ kind }}-horizontal-glitch'><div></div></div>
    </section>
    {{/ manifesto }}
    {{> footer }}
  </body>
</html>
