<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>Ramon Gilabert · Manjaras</title>
  </head>
  <body class='light' id='linjer'>
    <div class='page'>
      {{> grid }}
      <!-- {{> transition }} -->
      <div class='wrapper'>
        {{# manjaras }}
        <h1 class='page-title'>{{ page }}</h1>
        {{> navigation }}
        {{> introduction }}
        {{> image }}
        {{> proposition }}
        {{> text }}
        {{> image }}
        {{> text }}
        {{> image }}
        {{> text }}
        {{> footer }}
        {{/ manjaras }}
      </div>
    </div>
  </body>
</html>
