<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>Manifesto – Gilabert</title>
  </head>
  <body id='manifesto'>
    <h1 id='page-title'>Ramon Gilabert</h1>
    <section id='hero'>
      <div id='hero-image-wrapper'>
        <figure id='hero-image'></figure>
        <div id='hero-description'>
          {{# description }}
          <p><strong>{{ title }}</strong>. {{ name }}</p>
          {{/ description }}
        </div>
      </div>
      <header>
        <div class='disclosure disclosure-top'><p>say hi</p></div>
        <div class='email-link-wrapper'>
          <a class='email-link'
          href='mailto:ramon.gilabert.llop@gmail.com'>ramon@gilabert.design</a>
        </div>
        <div class='corner-glitch top-corner-glitch'></div>
      </header>
      <div>
        <div class='disclosure disclosure-disclaimer'><p>disclaimer</p></div>
        <p class='disclosure-text'>Site heavily under construction</p>
      </div>
      <div class='corner-glitch bottom-corner-glitch'></div>
    </section>
    {{# manifesto }}
    <section class="{{ kind }}">
      <div class='section-description description'>
        <figure></figure>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
      </div>
      <div class='horizontal-glitch {{ kind }}-horizontal-glitch'><div></div></div>
    </section>
    {{/ manifesto }}
    {{> footer }}
  </body>
</html>
