// Appearances

#manifesto {

  .scroll-appearance {
    transform: translateY(100%)
    opacity: 0
  }
}

.detail {

  .title {
    transform: translateY(-100%) !important
  }

  .headers {
    transform: translateY(100%) !important
  }

  .alpha {
    opacity: 0 !important
  }
}
