// Colors

background-color = #F8F8F8
secondary-color = #F5F2F0
title-color = #333333
text-color = #222222
faded-title-color = #8C8075
faded-text-color = #7F7871
link-color = #31302F
highlight-color = #CBA0AA
clear-color = #FFFFFF
grid-color = #00D0F0
background-link = #EAB0BD
background-running = #FACA0C
soon-color = #917D68

// Typography

type-base = 20px
type-ratio = 1.125
line-height-bottom = 1.5
line-height-top = 1.6

// Sizes

size-h1 = type-base * (type-ratio ** 8) // 51.316
size-h25 = type-base * (type-ratio ** 6)
size-h2 = type-base * (type-ratio ** 5) // 36.041
size-h3 = type-base * (type-ratio ** 4) // 32.036
size-h4 = type-base * (type-ratio ** 3) // 28.477
size-h5 = type-base * (type-ratio ** 2) // 25.313
size-h6 = type-base * (type-ratio ** 1) // 22.5
size-p = type-base // 20
size-l = type-base / (type-ratio ** 1) // 17.778
size-m = type-base / (type-ratio ** 2) // 15.802
size-s = type-base / (type-ratio ** 3) // 14.04

// Columns

column-0 = 3.0vw
column-1 = 6.2vw
column-2 = 12.4vw
column-3 = 16.6vw
column-4 = 19.9vw
column-5 = 22.0vw
column-6 = 25.0vw
column-7 = 26.3vw
column-8 = 40.0vw
column-9 = 47.9vw
column-10 = 50.0vw
column-11 = 52.1vw
column-12 = 60.0vw
column-13 = 73.7vw
column-14 = 75.0vw
column-15 = 78.0vw
column-16 = 80.1vw
column-17 = 83.4vw
column-18 = 87.6vw
column-19 = 93.8vw
column-20 = 97.0vw

percentage-0 = 3.0%
percentage-1 = 6.2%
percentage-2 = 12.4%
percentage-3 = 16.6%
percentage-4 = 19.9%
percentage-5 = 22.0%
percentage-6 = 25.0%
percentage-7 = 26.3%
percentage-8 = 40.0%
percentage-9 = 47.9%
percentage-10 = 50.0%
percentage-11 = 52.1%
percentage-12 = 60.0%
percentage-13 = 73.7%
percentage-14 = 75.0%
percentage-15 = 78.0%
percentage-16 = 80.1%
percentage-17 = 83.4%
percentage-18 = 87.6%
percentage-19 = 93.75%
percentage-20 = 97.0%

pixel-0 = 3.0px
pixel-1 = 6.2px
pixel-2 = 12.4px
pixel-3 = 16.6px
pixel-4 = 19.9px
pixel-5 = 22.0px
pixel-6 = 25.0px
pixel-7 = 26.3px
pixel-8 = 40.0px
pixel-9 = 47.9px
pixel-10 = 50.0px
pixel-11 = 52.1px
pixel-12 = 60.0px
pixel-13 = 73.7px
pixel-14 = 75.0px
pixel-15 = 78.0px
pixel-16 = 80.1px
pixel-17 = 83.4px
pixel-18 = 87.6px
pixel-19 = 93.8px
pixel-20 = 97.0px

// Animations

curve = cubic-bezier(0.88, 0.12, 0.36, 0.79)
project-transition = 0.4s transform curve
margin-transition = 0.4s margin curve

// Queries

phone-width = 650px
minimum-width = 850px
medium-width = 1300px
median-width = 1450px
cards-width = 1600px
maximum-width = 1920px
