// Colors

background-color = #FFFFFF
dark-background-color = #161216
title-color = #342A34
text-color = #342A34
dark-gray-text-color = #D2D2D2
alternative-color = #712367
gray-color = #E6E5E6
white-color = #FFFFFF
header-text-color = #292329
projects-color = #FAF9FC

// Spacing

inner-spacing = 22%
bottom-spacing = 200px
case-spacing = 200px
case-spacing-title = 15%
case-spacing-subtitle = 18%
mobile-margin-side = 8%
mobile-margin-side-case = 9%
mobile-margin-side-case-subtitle = 9%
mobile-initial-margin = 75px
mobile-margin-top = 100px
mobile-margin-bottom = 120px
mobile-image-vertical = 95px

// Sizing

footer-size = 500px
mobile-footer-size = 400px

// Fonts

title-font = 100px Gilroy
title-text-font = 50px Gilroy
subtitle-text-font = 30px Gilroy
text-font = 17px Gilroy
case-font = 16.25px Gilroy
mobile-title-font = 20vw Gilroy
mobile-title-font-landscape = 17vw Gilroy
mobile-text-font = 16px Gilroy

// Animations

curve = cubic-bezier(0.88, 0.12, 0.36, 0.79)
project-transition = 0.4s transform curve

// Queries

phone-width = 500px
minimum-width = 700px
medium-width = 900px
