// Colors

background-color = #FFFFFF
dark-background-color = #161216
title-color = #342A34
text-color = #342A34
alternative-color = #712367
gray-color = #E6E5E6
white-color = #FFFFFF
header-text-color = #292329
projects-color = #FAF9FC

// Spacing

inner-spacing = 22%
bottom-spacing = 200px
case-spacing = 150px
case-spacing-title = 15%
case-spacing-subtitle = 18%

// Fonts

title-font = 100px Gilroy
text-font = 17px Gilroy
case-font = 16.25px Gilroy
