@font-face {
	font-family: 'Inconsolata';
	src: url('../fonts/Inconsolata-Regular.eot');
	src: url('../fonts/Inconsolata-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Inconsolata-Regular.woff2') format('woff2'),
		url('../fonts/Inconsolata-Regular.woff') format('woff'),
		url('../fonts/Inconsolata-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inconsolata';
	src: url('../fonts/Inconsolata-Bold.eot');
	src: url('../fonts/Inconsolata-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Inconsolata-Bold.woff2') format('woff2'),
		url('../fonts/Inconsolata-Bold.woff') format('woff'),
		url('../fonts/Inconsolata-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: "Brandon"
  src: url("../fonts/Brandon.eot")
  src: url("../fonts/Brandon.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Brandon.woff") format("woff"),
  url("../fonts/Brandon.ttf") format("truetype");
  font-style: bold;
}
