// Footer styles

footer {
  position: relative
  width: 100%
  height: 500px
  background-color: dark-background-color
  // position: fixed

  .back, .forward {
    mix-blend-mode: soft-light
    position: absolute
    display: inline-block

    a {
      display: inline-block
      font: 17px Gilroy
      font-weight: 400
      color: white-color
      letter-spacing: -0.3px
    }
  }

  .back {
    left: 20px
    bottom: 15px

    a {
      margin-left: 37px
    }
  }

  .forward {
    top: 15px
    right: 58px
  }

  .back:before, .forward:after {
    content: ''
    display: inline-block
    background-color: white-color
    position: absolute
    height: 2px
    width: 30px
    top: 57%
    transform: translateY(-50%)
  }

  .back:before {
    margin-right: 8px
  }

  .forward:after {
    margin-left: 8px
  }

  .circle {
    circle = 400px

    width: circle
    height: circle
  }

  .inner {
    position: absolute
    // bottom: 200px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center

    .email {
      font: 20px Gilroy
      font-weight: 700
      color: white-color
      letter-spacing: -0.4px

      span {
        font: 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica
        font-weight: 900
      }
    }

    .path {
      display: block
      margin-left: 50%
      transform: translateX(-50%)
      margin-top: 23px
      margin-bottom: 25px
      opacity: 0.15
    }

    .social {
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: center
      align-content: center

      .social-icon {
        margin = 25px

        max-height: 36px
        object-fit: cover
        margin-left: margin
        margin-right: margin
      }
    }
  }
}

@media (max-width: minimum-width) {
  footer {
    overflow: hidden
    height: 300px

    .back, .forward {
      position: absolute
      display: inline-block
    }

    .back {
      transform-origin: bottom right
      transform: translateX(-100%) rotateZ(90deg)
      left: 10px
      bottom: 15px
    }

    .forward {
      transform-origin: top left
      transform: translateX(100%) rotateZ(90deg)
      top: 15px
      right: 10px
    }

    .inner .social .social-icon {
      margin = 15px

      margin-left: margin
      margin-right: margin
    }
  }
}
