// Footer styles

#footer {
  cross-thickness = 1px

  position: relative
  width: 100vw
  height: 100vh
  min-width: minimum-width

  .wrapper {
    position: absolute
    top: 50%
    transform: translate3d(0, -50%, 0)
    display: block
    margin: auto
    width: 100%
    transition: padding-transition, opacity-transition
  }

  .wrapper h2 {
    font: 30px Brandon
    text-transform: uppercase
    text-align: center
    color: text-color
  }

  .cross {
    size = 40px

    width: size
    height: size
    transform: rotateZ(45deg)
    margin: 10px auto 0 auto
  }

  .cross:before {
    content: ''
    position: absolute
    height: cross-thickness
    top: 50%
    right: 0%
    left: 0%
    background-color: text-color
  }

  .cross:after {
    content: ''
    position: absolute
    width: cross-thickness
    top: 0%
    bottom: 0%
    left: 50%
    background-color: text-color
  }

  #social {
    position: absolute
    display: table
    margin-top: 26px
    min-width: 600px
    left: 50%
    transform: translateX(-50%)

    div {
      display: table-cell

      a {
        margin = 25px

        font: 15px Inconsolata
        margin-right: margin
        margin-left: margin
        position: relative
      }

      figure {
        size = 17px

        position: absolute
        width: size
        height: size
        background-size: contain
        background-repeat: no-repeat
        margin-top: 1px
      }
    }

    #dribbble {
      figure {
        background-image: url(dribbble-icon)
      }
    }

    #github {
      figure {
        background-image: url(github-icon)
      }
    }

    #twitter {
      figure {
        background-image: url(twitter-icon)
      }
    }

    #resume {
      figure {
        background-image: url(monogram-icon)
      }
    }
  }
}
