// Glitches declarations

.corner-glitch {
  position: absolute
  width: 50px
  height: 30px
}

.corner-glitch:before {
  content: ''
  position: absolute
  background-color: text-color
  width: 80%
  height: 1px
  top: 0%
  left: 0%
}

.corner-glitch:after {
  content: ''
  position: absolute
  background-color: text-color
  width: 1px
  height: 90%
  right: 0%
  bottom: 0%
}

.top-corner-glitch {
  top: 37.5px
  right: 27px
}

.bottom-corner-glitch {
  left: 27px
  bottom: 30px
  transform: rotate(180deg)
}

.disclosure {
  position: absolute
  opacity: disabled-text-opacity
  width: 90px
}

.disclosure p {
  font: 14px Inconsolata
  color: text-color
}

.disclosure:after {
  content: ''
  position: absolute
  background-color: text-color
  width: 85%
  height: 1px
  bottom: 0%
  right: 0%
}

.disclosure-top {
  top: 17.5px
  right: 325px
}

.disclosure-disclaimer {
  left: 27px
  bottom: 80px
  width: 105px
}

.horizontal-glitch {
  position: absolute
  width: 35px
  height: 100px
}

.horizontal-glitch:before {
  content: ''
  position: absolute
  width: 1px
  height: 25%
  right: 0%
  top: 0%
  background-color: text-color
  opacity: disabled-text-opacity
}

.horizontal-glitch:after {
  positioning = 50%

  content: ''
  position: absolute
  width: 1px
  height: 100% - positioning
  right: 0%
  top: positioning
  background-color: text-color
  opacity: disabled-text-opacity
}

.horizontal-glitch div {
  content: ''
  position: absolute
  height: 1px
  top: 40%
  right: 0%
  left: 0%
  background-color: text-color
  opacity: disabled-text-opacity
}

.story-horizontal-glitch {
  top: 220px
  right: 100px
}
