@import fonts
@import constants
@import typography
@import footer
@import grid
@import functions

@import 'pages/myself'

@import 'components/introduction'
@import 'components/image'
@import 'components/text'
@import 'components/proposition'
@import 'components/navigation'
@import 'components/hero'
@import 'components/card'
@import 'components/hobbies'

*, html {
  margin: 0
  padding: 0
  outline: 0
}

html, body {
  margin: 0 auto
  background-color: background-color
}

button {
  text-decoration: none
  border: 0px
  background-color: transparent
  cursor: pointer
}

button:focus {
  outline: 0
}

.email {
  cursor: pointer
}

.page-title {
  position: absolute
  width: 1px
  height: 1px
  top: 0
  left: 0
  clip: rect(0, 1px, 1px, 0)
}

.transition {
  background-color: background-color
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 300
  backface-visibility: hidden
  
  .secondary {
    position: relative
    width: 200%
    height: 100%
    transform: translateX(-100%)
    background-color: background-running
    z-index: 300
    backface-visibility: hidden
  }
}

.lighter {
  background-color: white-color
}

.hide {
  opacity: 0
}
