// The indicator in the site.

.indicator {
  position: absolute

  a, p {
    display: inline-block
    font: 15px Gilroy
    font-weight: 400
    color: white-color
    letter-spacing: -0.3px
  }
}

.indicator:after {
  content: ''
  background-color: white-color
  position: absolute
  height: 2px
  width: 30px
  top: 58%
  transform: translateY(-50%)
  margin-left: 8px
}

.dot {
  position: relative
  color: alternative-color
  margin: 0
  padding: 0
}

.spaced {
  transform: translateY(-50%)
}

.space {
  margin-top: 2.5px
  margin-bottom: 3px
}

.circle {
  circle = 750px

  display: none
  // position: absolute
  // top: 0
  // right: 0
  // bottom: 0
  // left: 0
  // margin: auto auto
  // border-radius: 50%
  // width: circle
  // height: circle
  // mix-blend-mode: soft-light
  // background-color: white-color
  // filter: blur(250px)
  // opacity: 0.6
  // transform: translate3d(0, 0, 0)
}

.noise {
  position: absolute
  width: 100%
  height: 100%
  top: auto
  background-image: url(../images/general/noise.png)
  background-repeat: repeat
  background-blend-mode: normal
  mix-blend-mode: overlay
  transform: translate3d(0, 0, 0)
}

@media (max-width: minimum-width) {
  .circle {
    circle = 80%

    width: circle
    height: circle
  }
}
