// The indicator in the site.

.indicator {
  position: absolute

  a {
    font: 15px Gilroy
    font-weight: 400
    color: white-color
  }
}

.indicator:after {
  content: ''
  background-color: white-color
  position: absolute
  height: 2px
  width: 30px
  top: 58%
  transform: translateY(-50%)
  margin-left: 8px
}

.dot {
  position: relative
  color: alternative-color
  margin: 0
  padding: 0
}

.spaced {
  transform: translateY(-50%)
}
