// Loading styles

#manifesto {

  .loading-hero-image {
    transform: translateX(150px)
    opacity: 0
  }

  .loading-hero-line {
    transform: translateX(50px)
    opacity: 0
  }

  .loading-hero-line-pair {
    transform: translateX(-50px)
    opacity: 0
  }

  .loading-header {
    opacity: 0
  }
}
