// Colors

background-color = #252928
header-background-color = rgba(37, 41, 40, 0)
text-color = #FFFFFF

// Opacity

disabled-text-opacity = 0.2

// Sizes

minimum-width = 900px

// Offsets

corner-glitch-side = 27px
corner-glitch-up = 30px

// Image paths

hero-image = '../images/hero/header.jpg'
a-logo = '../images/manifesto/a-logo.svg'
m-logo = '../images/manifesto/m-logo.svg'
s-logo = '../images/manifesto/s-logo.svg'
dribbble-icon = '../images/icons/dribbble-icon.svg'
github-icon = '../images/icons/github-icon.svg'
twitter-icon = '../images/icons/twitter-icon.svg'
monogram-icon = '../images/icons/monogram-icon.svg'

// Animations

initial-transform-transition = transform 0.85s ease-in-out
initial-opacity-transition = opacity 0.85s ease
padding-transition = transform 1s ease
opacity-transition = opacity 1s ease
