// Colors

background-color = #191B1A
header-background-color = rgba(37, 41, 40, 0)
text-color = #FFFFFF

// Opacity

disabled-text-opacity = 0.2

// Sizes

maximum-width = 1200px
minimum-width = 900px
minimum-height = 600px
glitch-size = 0.5px

// Offsets

corner-glitch-side = 27px
corner-glitch-up = 30px

// Image paths

a-logo = '../images/manifesto/a-logo.svg'
m-logo = '../images/manifesto/m-logo.svg'
s-logo = '../images/manifesto/s-logo.svg'
dribbble-icon = '../images/icons/dribbble-icon.svg'
github-icon = '../images/icons/github-icon.svg'
twitter-icon = '../images/icons/twitter-icon.svg'
monogram-icon = '../images/icons/monogram-icon.svg'
triangle = '../images/icons/triangle.svg'
myself-image = '../images/sections/myself.jpg'
lights-image = '../images/sections/lights.jpg'
varner-image = '../images/sections/varner.jpg'
branding-image = '../images/sections/branding.jpg'

// Animations

initial-transform-transition = transform 0.85s ease-in-out
initial-opacity-transition = opacity 0.85s ease
padding-transition = transform 1s ease
opacity-transition = opacity 1s ease
disappear-transition = opacity 0.6s ease
glitch-transition = 0.6s ease
text-transition = 0.5s ease
myself-transition = 0.6s ease

// Fonts

glitch-font = 14px Inconsolata
header-font = 15px Inconsolata
