// Manifesto stylus

#manifesto {
  width: 100vw
  height: 100vh
  position: relative
}

#manifesto-image {
  position: absolute
  background-image: url(m-logo)
  background-size: contain
  background-repeat: no-repeat
  width: 165px
  height: 150px
  right: 270px
  opacity: 0.025
}

#manifesto-description {
  position: absolute
  top: 50%
  right: 100px
  transform: translateY(-50%);
}

#manifesto-description h2 {
  text-align: right
}

#manifesto-description p {
  text-align: right
}

#manifesto-horizontal-glitch {
  position: absolute
  transform: rotateY(180deg)
  top: 150px
  left: 100px
}
