// Top navigation manifesto header

#manifesto {

  #hero-header {
    position: fixed
    width: 100%
    height: 80px
    min-width: 1024px
    max-width: 1400px
    top: 0
    left: 0
    margin: 0 auto
    z-index: 1
  }

  .email-link-wrapper {
    position: absolute
    margin-top: 40px
    transform: translateY(-50%)
    right: 105px
  }

  .email-link {
    font: 15px Inconsolata
  }
}
