.card {
	width: grid(2, 9)
	max-width: max-grid(2, 9)
	margin-bottom: 80px
	cursor: pointer
	box-sizing: border-box
	position: relative
	background-color: clear-color
	overflow: hidden
	backface-visibility: hidden
	box-shadow: 0 1px 2px rgba(49, 48, 47, 0)
	transition: 0.3s transform ease, 0.3s box-shadow ease
	
	.imagery {
		max-height: unit(1920 * 0.355 * 4 / 3 - 148, 'px')
		
		img {
			padding: 0
			width: 100%
			height: 100%
			object-fit: cover
		}
	}
	
	.description {
		background-color
		width: 100%
		height: 148px
		background-color: clear-color
		backface-visibility: hidden
		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between
		position: relative
		
		.wrapper {
			width: 84%
			transform: none;
			margin-left: 6%
			transition: 0.3s transform ease
			backface-visibility: hidden
			
			p {
				color: faded-text-color
				margin-top: 12px
			}
		}
		
		.indicator {
			position: relative
			overflow: hidden
			transition: 0.3s transform ease
			top: -4px
			width: 16%
		}
		
		.soon, .arrow {
			transition: 0.3s transform curve
			transform: translateX(-150%)
		}
		
		.soon {
			transform: translateY(100%)
		}
	}
	
	.bottom-description {
		position: absolute
		bottom: 0
		width: 200%
		height: 148px
		background-color: clear-color
		transform-origin: 50% 100%
		transition: 0.3s transform ease
	}
}

.card:hover {
	box-shadow: 0 40px 80px rgba(49, 48, 47, 0.1)
	transform: scale(1.03)
	
	.bottom-description {
		transform: scaleY(1.1)
	}
	
	.wrapper, .indicator {
    transform: translateY(-8px)
	}
	
	.arrow {
		transform: translateX(0%)
	}
	
	.soon {
		transform: translateY(0%)
	}
}

.linjer {
  margin-top: 140px
}
