.card {
	width: grid(2, 9)
	max-width: max-grid(2, 9)
	margin-bottom: 80px
	cursor: pointer
	box-sizing: border-box
	position: relative
	background-color: clear-color
	overflow: hidden
	backface-visibility: hidden
	box-shadow: 0 1px 2px rgba(49, 48, 47, 0)
	transition: transform 0.3s ease, box-shadow 0.3s ease
	
	.imagery {
		max-height: unit(1920 * 0.355 * 4 / 3 - 148, 'px')
		
		img {
			padding: 0
			width: 100%
			height: 100%
			object-fit: cover
		}
	}
	
	.description {
		width: 100%
		height: 148px
		background-color: clear-color
		
		.wrapper {
			transform: none;
			padding-top: 32px
			margin-left: 6%
			transition: transform 0.3s ease
			backface-visibility: hidden
			
			p {
				color: faded-text-color
				margin-top: 12px
			}
		}
	}
	
	.bottom-description {
		position: absolute
		bottom: 0
		width: 200%
		height: 148px
		background-color: clear-color
		transform-origin: 50% 100%
		transition: transform 0.3s ease
	}
}

.card:hover {
	box-shadow: 0 40px 80px rgba(49, 48, 47, 0.1)
	transform: scale(1.03)
	
	.bottom-description {
		transform: scaleY(1.1)
	}
	
	.wrapper {
    transform: translateY(-5px)
	}
}
