.hero {
	width: 100%
	padding-top: 180px
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between

	.text {
		margin-bottom: 188px
		width: grid(2, 9)
		max-width: max-grid(2, 9)
		
		h1 {
			margin-bottom: 12px
		}
	}
	
	.illustration {
		z-index: 1
		
		svg {
			margin-right: calc(grid(2, 3) - 30px)
			float: right
			width: 460px
		}
	}
}

@media (min-width: 1920px) {
	.hero {
		.illustration {
			img {
				margin-right: max-grid(2, 3)
			}
		}
	}
}
