.hero {
	width: 100%
	margin-top: 60px
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	z-index: 2

	.text {
		margin-bottom: 188px
		width: grid(2, 9)
		max-width: max-grid(2, 9)
		
		h1 {
			margin-bottom: 12px
		}
	}
	
	.illustration {
		img {
			margin-right: grid(2, 3)
			float: right
			width: 460px
		}
	}
}

@media (min-width: 1920px) {
	.hero {
		.illustration {
			img {
				margin-right: max-grid(2, 3)
			}
		}
	}
}
