.hobbies {
	position: relative
	display: flex
  flex-direction: column
  align-content: space-between
  flex-wrap: wrap
  width: 100%
  height: 700px
  margin-top: 160px
  
	.hobby {
		display: flex
		flex-direction: row
		align-content: space-between
		margin-bottom: 120px
		width: grid(2, 9)
		max-width: max-grid(2, 9)
		
		.mono {
			width: 50px
			margin-top: 4px
			margin-right: 136px
		}
		
		.pieces {
			.text {
				font-size: size-h6
				line-height: 32px
				margin-bottom: 16px
			}
		}
	}
}

@media (max-width: median-width) {
	.hobbies {
		align-content: flex-start
		height: 650px
		margin-top: 0px
		
		.hobby {
			width: grid(2, 11)
			max-width: max-grid(2, 11)
			flex-direction: column
			margin-bottom: 80px
			
			.mono {
				margin-bottom: 12px
			}
			
			.pieces {
				.text {
					font-size: size-p
					line-height: 32px
					margin-bottom: 8px
				}
			}
		}
	}
}

@media (max-width: midiu-width) {
	.hobbies {
		.hobby {
			width: grid(1, 11)
			max-width: max-grid(1, 11)
		}
	}
}

@media (max-width: minimum-width) {
	.hobbies {
		height: 1100px
		margin-top: -10px
		
		.hobby {
			margin-top: -20px
			width: grid(1, 19)
			max-width: max-grid(1, 19)
			margin-bottom: 80px
		}
	}
}
