.introduction {
	padding-top: 280px
	margin-bottom: 220px
	
	h1 {
		line-height: 52px
		margin-bottom: 20px
	}
	
	.paragraphs {
		display: flex
		flex-direction: row
		align-items: flex-start
		width: 100%
		
		.wrap {
			margin-right: 100px
			max-width: 520px
		}
	}
}

@media (max-width: phone-width) {
	.introduction {
		.paragraphs {
			display: flex
			flex-direction: column
			align-items: flex-start
			width: 100%
			
			h1 {
				font-size: size-h25
				margin-bottom: 16px
				line-height: 44px
			}
			
			.wrap {
				p {
					margin-bottom: 16px
				}
			}
		}
	}
}

@media (max-width: medium-width) {
	.introduction {
		padding-top: 200px
		margin-bottom: 120px
	
		.paragraphs {
			.wrap {
				margin-right: 40px
				
				p {
					font-size: size-l !important
					line-height: 30px !important
				}
			}
		}
	}
}
