.introduction {
	padding-top: 280px
	margin-bottom: 220px
	
	h1 {
		line-height: 52px
		margin-bottom: 20px
	}
	
	.paragraphs {
		display: flex
		flex-direction: row
		align-items: center
		width: 100%
		
		.wrap {
			margin-right: 100px
			max-width: 520px
		}
	}
}
