nav {
	height: 120px
	position: relative
	display: flex
	flex-direction: row
	align-items: center
	
	.home {
		order: 1
		text-align: left
		width: 100px
		cursor: pointer
	}
	
	.central {
		order: 2
		text-align: center
		margin: 0 auto
		
		a {
			padding-right: 50px
			padding-left: 50px
		}
	}
	
	.right {
		order: 3
		text-align: right
		width: 100px
	}
	
	img {
		width: 36px
		height: 36px
	}
	
	a {
		font-family: 'Styrene B Web'
		font-weight: 500
		font-size: size-m
		text-transform: uppercase
	}
}
