.casing {
	position: relative
	margin-top: 180px
	padding-bottom: 144px
	display: flex
	flex-direction: row
	align-items: flex-start
	width: 100%
	
	.full-box {
		position: absolute
		width: 100vw
		background-color: secondary-color
		z-index: 0
		top: -75%
		bottom: 0
	}
	
	.mono {
		position: relative
		width: 100px
		margin-top: 5px
		margin-right: 260px
		z-index: 2
	}
	
	.text {
		position: relative
		width: 600px
		margin-bottom: 28px
		z-index: 2
	}
}

.up {
	margin-top: 100px
	padding-bottom: 160px
}
