.casing {
	position: relative
	margin-top: 180px
	padding-bottom: 144px
	display: flex
	flex-direction: row
	align-items: flex-start
	width: 100%
	
	.full-box {
		position: absolute
		width: 100vw
		background-color: secondary-color
		z-index: 0
		top: -75%
		bottom: 0
	}
	
	.mono {
		position: relative
		width: 100px
		margin-right: 260px
		z-index: 2
	}
	
	.text {
		position: relative
		width: 600px
		margin-bottom: 28px
		z-index: 2
	}
}

.upp {
	margin-top: 140px
	padding-bottom: 160px
}

.up {
	margin-top: 100px
	padding-bottom: 160px
}

@media(max-width: phone-width) {
	.casing {
		margin-top: 60px !important
		padding-bottom: 60px !important
	}
}

@media (max-width: minimum-width) {
	.casing {
		flex-direction: column
		
			.full-box {
				position: absolute
				width: 100vw
				background-color: secondary-color
				z-index: 0
				height: 155%
				top: -50%
				bottom: -5%
			}
		
		.mono {
			position: relative
			width: auto
			margin-right: 0px
			margin-bottom: 12px
			z-index: 2
		}
		
		.text {
			width: 100%
		}
	}
}

@media(max-width: midiu-width) {
	.casing {
		margin-top: 140px
		padding-bottom: 140px
		
		.mono {
			position: relative
			width: 100%
			margin-right: 100px
			z-index: 2
		}
		
		.text {
			font-size: size-l
			line-height: 30px
			margin-bottom: 16px
		}
	}
}

@media(max-width: midiu-width) {
	.casing {
		margin-top: 100px
		padding-bottom: 100px
	}
}
