// Image styles for the case studies

.image {
  padding-top: case-spacing
  padding-bottom: case-spacing
  background-color: white-color

  img {
    object-fit: cover
    width: 100%
  }

  p {
    position: absolute
    width: 100%
    left: 50%
    transform: translateX(-50%)
    font: 14px Gilroy
    letter-spacing: -0.3px
    font-weight: 400
    color: gray-color
    text-align: center
  }
}
