// Image styles for the case studies

.image {
  position: relative
  margin-top: case-spacing
  margin-bottom: case-spacing

  img {
    object-fit: cover
    width: 100%
  }

  p {
    position: absolute
    width: 80%
    left: 50%
    transform: translateX(-50%)
    font: 14px Gilroy
    letter-spacing: -0.3px
    font-weight: 400
    color: gray-color
    text-align: center
  }
}

@media (max-width: minimum-width) {

  .image {
    margin-top: mobile-image-vertical
    margin-bottom: mobile-image-vertical
    overflow: hidden

    p {
      display: none
    }
  }
}
