// Quote styles

.quote {
  padding-bottom: case-spacing
  margin-bottom: footer-size
}

@media (max-width: minimum-width) {

  .quote {
    padding-bottom: mobile-margin-bottom
    margin-bottom: mobile-footer-size
  }
}
