// Subtitle stylus

.subtitle {
  .inner {
    position: relative
    margin: 0px case-spacing-subtitle 0px case-spacing-subtitle

    h4 {
      font: subtitle-text-font
      font-weight: 700
      letter-spacing: -1.5px
      margin-bottom: 10px
    }
  }
}

@media (max-width: minimum-width) {

  .subtitle {
    .inner {
      margin: 20px mobile-margin-side-case-subtitle 0 mobile-margin-side-case-subtitle
    }

    .path {
      margin-bottom: 10px
    }
  }
}
