// Subtitle stylus

.subtitle {
  .inner {
    position: relative
    margin: 0px case-spacing-subtitle 0px case-spacing-subtitle
    background-color: white

    h4 {
      font: subtitle-text-font
      font-weight: 700
      letter-spacing: -1.5px
      margin-bottom: 10px
    }
  }
}
