// Text block for the case studies.

.text {
  font: text-font
  letter-spacing: -0.4px
  line-height: 200%
  width: 725px
  margin-bottom: 30px
}

.spacing {
  margin-bottom: 2px
}

.indent, .spacing {
  text-indent: 50px
}
