// Text block for the case studies.

.text {
  width: 750px
  font: text-font
  letter-spacing: -0.4px
  line-height: 170%
  margin-bottom: 20px
  background-color: white-color

  a {
    color: alternative-color
  }
}

.paragraph-space {
  margin-bottom: 11px
}

.spacing {
  margin-bottom: -2px
}

.indent {
  text-indent: 40px
}
