// Text block for the case studies.

.text {
  width: 750px
  font: text-font
  letter-spacing: -0.4px
  line-height: 170%
  margin-bottom: 20px

  a {
    color: alternative-color
  }
}

.spacing {
  margin-bottom: -2px
}

.indent {
  text-indent: 50px
}
