// The title styles

.title {
  .inner {
    position: relative
    margin: 0px case-spacing-title 0px case-spacing-title

    h3 {
      font: title-text-font
      font-weight: 700
      letter-spacing: -2.5px
      margin-bottom: 6px
    }

    p {
      font: text-font
      letter-spacing: -0.5px
      line-height: 25px
      width: 725px
      margin-bottom: 15px
    }
  }
}
