// Colors style

.visually {
  .inner {
    position: relative
    padding: 0px case-spacing-subtitle 0px case-spacing-subtitle
    background-color: white-color

    h4 {
      font: subtitle-text-font
      font-weight: 700
      letter-spacing: -1.5px
      margin-bottom: 12.5px
    }
  }

  .colors {
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-around
    padding-top: case-spacing
    padding-bottom: case-spacing
    background-color: white-color

    .color {
      position: relative
      width: 33.3%
      height: 300px

      p {
        position: absolute
        right: 10px
        bottom: 6px
        font: 17px Gilroy
        font-weight: 400
        letter-spacing: -0.5px
        color: white-color
      }
    }

    .four {
      width: 25%
    }

    .last {
      p {
        color: dark-gray-text-color
      }
    }
  }
}
