// Colors style

.visually {
  .inner {
    position: relative
    margin: 0px case-spacing-subtitle 0px case-spacing-subtitle

    h4 {
      font: subtitle-text-font
      font-weight: 700
      letter-spacing: -1.5px
      margin-bottom: 12.5px
    }
  }

  .colors {
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-around
    margin-top: case-spacing
    margin-bottom: case-spacing

    .color {
      position: relative
      width: 33.33333%
      height: 300px

      p {
        position: absolute
        right: 10px
        bottom: 6px
        font: 17px Gilroy
        font-weight: 400
        letter-spacing: -0.5px
        color: white-color
      }
    }

    .four {
      width: 25%
    }

    .last {
      p {
        color: dark-gray-text-color
      }
    }
  }
}

@media (max-width: minimum-width) {

  .visually {
    .inner {
      margin: mobile-margin-top mobile-margin-side-case-subtitle 0 mobile-margin-side-case-subtitle
    }

    .colors {
      margin-top: mobile-image-vertical
      margin-bottom: mobile-image-vertical

      .color {
        height: 200px

        p {
          right: 50%
          transform: translateX(50%)
          font: 15px Gilroy
        }
      }
    }
  }
}
