<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>{{ title }}</title>
    {{> imports }}
  </head>
  <body class='case' id='{{ name }}'>
    <h1 class='page-title'>{{ page }}</h1>
    <div class='content'>
      <header>
        <div class='indicator'><a href='./index'>home</a></div>
        <div class='inner'>
          <h2>{{ name }}<span class='spaced dot'>.</span></h2>
          <img class='path' src='./images/general/path.svg'>
          <h3 class='role'>{{ role }}</h3>
          {{# summarize }}
          {{> text }}
          {{/ summarize }}
        </div>
      </header>
      {{# summarize }}
      {{> image }}
      {{/ summarize }}
      {{# story }}
      {{> title }}
      {{> image }}
      {{/ story }}
      {{# solution }}
      {{> title }}
      {{> image }}
      {{/ solution }}
