// Myself page. The first one a user will see.

#myself {

  header {
    position: relative
    width: 100%
    height: 100vh
    min-height: 800px
    background-color: dark-background-color

    .indicator {
      transform: rotateZ(90deg)
      right: 10px
      bottom: 67.5px
    }

    h2 {
      position: absolute
      top: 15px
      left: 50%
      transform: translateX(-50%)
      color: header-text-color
      opacity: 0.7
      font: 26px Gilroy
      font-weight: 700
      letter-spacing: -0.75px
    }

    .designer {
      position: absolute
      top: 53%
      right: 0
      left: 0
      margin: 0 auto
      transform: translateY(-50%)
      mix-blend-mode: soft-light
    }

    .myself {
      position: absolute
      height: 95%
      min-height: 750px
      bottom: 0
      left: 48.5%
      transform: translateX(-50%)
    }
  }

  .content {
    // margin-top: 100%
    // margin-bottom: 500px
    background-color: white
    // z-index: 2

    .story {
      .inner {
        padding-top: 150px
        margin: 0 inner-spacing bottom-spacing inner-spacing

        h2 {
          font: title-font
          font-weight: 700
          letter-spacing: -2.5px
        }

        .path {
          margin-bottom: 15px
        }

        p {
          font: text-font
          font-weight: 400
          letter-spacing: -0.4px
          line-height: 24px
          width: 525px
        }
      }
    }

    .projects {
      margin = 15px
      margin-top = 275px
      height = 750px
      width = 550px
      alternative-height = 550px

      width: 100%

      .inner {
        display: flex
	      flex-direction: column
	      flex-wrap: wrap
        align-content: center
	      height: height + alternative-height + margin * 4

        .project {
          position: relative
          width: width
          height: height
          background-color: projects-color
          margin: margin margin margin margin

          .role {
            text-align: center
            text-transform: uppercase
            font: 16px Gilroy
            font-weight: 700
            letter-spacing: -0.4px
            color: gray-color
            position: absolute
            right: 0
            left: 0
            bottom: 10px
            margin: 0 auto
            opacity: 0 // Remove this.
          }

          .indicator {
            transform-origin: top right
            transform: rotateZ(90deg)
            top: 90px
            right: 10px
            opacity: 0 // Remove this.

            p {
              color: gray-color
            }
          }

          .indicator:after {
            background-color: gray-color
          }

          a {
            position: absolute
            width: 100%
            height: 100%
          }

          .image {
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            margin: auto auto
          }

          .name {
            position: absolute

            .path {
              display: inline-block
              margin-top: 2.5px
              margin-right: 5px
              height: 15px
            }

            h3 {
              margin: 15px 0px 15px 0px
              font: 22px Gilroy
              font-weight: 700
              letter-spacing: -0.5px
              display: inline-block
              opacity: 0.1
            }
          }
        }

        .gluten {
          order: 2

          .indicator {
            transform-origin: left bottom
            transform: rotateZ(90deg)
            top: auto
            left: 12.5px
            right: auto
          }

          .name {
            top: 150px
            right: 0px
            bottom: auto
            left: auto
            transform-origin: right bottom
            transform: rotateZ(90deg)
          }
        }

        .lights {
          margin-top: margin-top
          order: 1

          .name {
            top: auto
            right: auto
            bottom: 100px
            left: 0
            transform-origin: left bottom
            transform: rotateZ(-90deg)
          }
        }

        .revolution {
          height: alternative-height
          order: 3

          .name {
            top: auto
            right: auto
            bottom: 50px
            left: 0
            transform-origin: left bottom
            transform: rotateZ(-90deg)
          }
        }
      }
    }

    .recognition {
      .inner {
        margin: 150px inner-spacing 0 inner-spacing
        padding-bottom: bottom-spacing
      }

      h2 {
        font: title-font
        font-weight: 700
        letter-spacing: -2.5px
      }

      h3 {
        margin: 15px 0px 15px 0px
        font: 24px Gilroy
        font-weight: 700
        letter-spacing: -0.5px
      }

      .path {
        margin-bottom: 12px
      }

      p {
        font: text-font
        font-weight: 400
        letter-spacing: -0.4px
        line-height: 28px
        width: 525px
      }
    }
  }
}
