// Myself page. The first one a user will see.

#myself {
  header {
    position: relative
    width: 100%
    height: 100%
    min-height: 800px
    background-color: dark-background-color

    .indicator {
      transform: rotateZ(90deg)
      right: 10px
      bottom: 67.5px
    }

    h2 {
      position: absolute
      top: 15px
      left: 50%
      transform: translateX(-50%)
      color: header-text-color
      opacity: 0.7
      font: 26px Gilroy
      font-weight: 700
      letter-spacing: -0.75px
    }

    .designer {
      position: absolute
      top: 53%
      right: 0
      left: 0
      margin: 0 auto
      transform: translateY(-50%)
      mix-blend-mode: soft-light
    }

    .myself {
      position: absolute
      height: 95%
      min-height: 750px
      bottom: 0
      left: 48.5%
      transform: translateX(-50%)
    }
  }

  .content {
    // margin-top: 100%
    // margin-bottom: 500px
    background-color: white
    // z-index: 2

    .story {
      .inner {
        margin: 150px inner-spacing bottom-spacing inner-spacing

        h2 {
          font: 100px Gilroy
          font-weight: 700
          letter-spacing: -2.5px
        }

        .path {
          margin-bottom: 15px
        }

        p {
          font: 17px Gilroy
          font-weight: 400
          letter-spacing: -0.4px
          line-height: 24px
          width: 525px
        }
      }
    }

    .projects {
      margin = 15px
      margin-top = 275px
      height = 750px
      width = 550px
      alternative-height = 550px

      width: 100%

      .inner {
        display: flex
	      flex-direction: column
	      flex-wrap: wrap
        align-content: center
	      height: height + alternative-height + margin * 4

        .project {
          position: relative
          height: height
          width: width
          background-color: projects-color
          margin: margin margin margin margin

          img {
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            margin: auto auto
          }
        }

        .gluten {
          order: 2
        }

        .lights {
          margin-top: margin-top
          order: 1
        }

        .revolution {
          height: alternative-height
          order: 3
        }
      }
    }

    .recognition {
      .inner {
        margin: 150px inner-spacing bottom-spacing inner-spacing
      }

      h2 {
        font: 100px Gilroy
        font-weight: 700
        letter-spacing: -2.5px
      }

      h3 {
        margin: 15px 0px 15px 0px
        font: 24px Gilroy
        font-weight: 700
        letter-spacing: -0.5px
      }

      .path {
        margin-bottom: 12px
      }

      p {
        font: 17px Gilroy
        font-weight: 400
        letter-spacing: -0.4px
        line-height: 28px
        width: 525px
      }
    }
  }
}
